h1#header-text {
    color: #FFFEDF;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5em;
}

h1#custom-slider {
    color: #FFFEDF;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
}

#sec1 {
    background: #131415;
}

.selector-space {
    margin-top: 7.5em;
}

.navbar {
    background-color: #131415;
    margin-bottom: 2em;
    font-family: 'Ubuntu', sans-serif;
    padding 2em;
}

ul.navbar-nav, li.nav-item, a.nav-link {
    color: coral;
    font-size: 1.2em;
}

ul.navbar-nav, li.nav-item, a.nav-link:hover {
    color: #FFFEDF;
}

footer {
    background-color: #FFFEDF;
    color: #131415;
    font-family: 'Ubuntu', sans-serif;
}

ul.list-unstyled, li, a {
    color: coral;
}

ul.list-unstyled, li, a:hover {
    color: #131415;
}

#colorpicker:hover {
    
}